data/Filtered/Sainsbury/
data/Filtered/Tesco/
data/Unzipped/
data/category_classifier.pickle
Documents/Project Plan/Project Plan.aux
Documents/Project Plan/Project Plan.log
Documents/Project Plan/Project Plan.synctex.gz
Documents/Project Plan/Project Plan.bbl
Documents/Project Plan/Project Plan.blg
Documents/Project Plan/Project Plan.pdf
Programming/Unzipped/
Programming/training/
Programming/python/pre_trained_embeddings/glove/glove*
Programming/python/neural_networks/recurrent_neural_network/checkpoints/
Programming/python/neural_networks/recurrent_neural_network/experiments/
Programming/python/neural_networks/convolutional_neural_network/runs/
Programming/python/neural_networks/convolutional_neural_network/experiments/pre_trained.csv
*experiment_results.xlsx
\.idea/
*.pyc
*.pickle
