.reactionsBar{
    fill: steelblue;
}

.reactionsBar:hover{
    fill: brown;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

div {
    border-width: 1px;
    border-style: solid;
    border-color: darkgrey;
    margin: 2px;
}